/*Big Picture*/
body {
    background-color: #1b152b;
    color: white;
}

.alternate-color-bg{
    width: 100%;
    background-color: #251d3b;
}

/*Navbar*/
#nav-div {
    background-color: #392c5c;
    border-bottom: 2px solid black;
}

.nav-btn {
    padding: 5px;
    margin-right: 10px;
    border: 1px black;
    background-color: white;
    border-radius: 2px;
}

/*Large and above styling*/
@media (min-width: 992px){
    #nav-div{
        border-right: 2px solid black;
    }

    #nav-options{
        position: fixed;
    }

    .nav-btn{
        margin-bottom: 20px;
        margin-right: 0;
    }
}

/*Landing*/
#landing {
    background-size: cover;
    background-position: center;
    padding-top: calc(1/1.75 * 100%);
    background-image: url(./images/SocraticFlag.png);
}

/*Coding*/
#apple-clone{
    background-image: url(./images/apple-clone-thumbnail.png);
}

#newsweek-clone{
    background-image: url(./images/newsweek-thumbnail.png);
}

/*Art Portfolio*/
.portfolio-image {
    background-size: cover;
    background-position: center;
    padding-top: calc(1/4* 100%);
}

#skeletangle {
    background-image: url(./images/SkeleTangle.png); 
}

#stomachsarrow{
    background-image: url(./images/AStomachFullOfSorrow.png);
}

#nightandday{
    background-image: url(./images/NightAndDay.gif);
}

#comrademachine{
    background-image: url(./images/TheComradeMachine.png);
}